#---------------------------------------------------------------------------------#
#                                                                                 #
#      _____                    _            _ _______                 _          #
#    / ____|                  (_)          | |__   __|               | |          #
#   | (___  _   _ _ ____   __  ___   ____ _| |  | |_      _____  __ _| | _____    #
#   \___ \| | | | '__\ \ / / | \ \ / / _` | |  | \ \ /\ / / _ \/ _` | |/ / __|    #
#    ____) | |_| | |   \ V /  | |\ V / (_| | |  | |\ V  V /  __/ (_| |   <\__ \   #
#   |_____/ \__,_|_|    \_/   |_| \_/ \__,_|_|  |_| \_/\_/ \___|\__,_|_|\_\___/   #
#                                                                                 #
#---------------------------------------------------------------------------------#

# SurvivalTweaks by Norbit4

# github: https://github.com/Norbit4
# wiki: https://github.com/Norbit4/SurvivalTweaks/

# This plugin is created to add some useful mechanics for useless items in Minecraft.
# If you like the plugin, support me with a positive opinion, thanks! <3
#
# If you have any suggestions, write to me on discord: n0rbit
# or join to my discord server: https://discord.com/invite/bA2kamGNyH

# Plugin supports Minecraft 1.21.8+ with engine Paper or forks.
# Spigot and Bukkit are not supported.
#---------------------------------------#
#               [Config]                #
#---------------------------------------#

mechanics:
  # display cords when player holds compass
  compass:
    enabled: true
    # block cords in f3 screen
    block-f3: false

  # display time when player holds clock
  clock:
    enabled: true
  # display last death location when player holds recovery_compass
  recovery-compass:
    enabled: true
  # entity health and distance when player use spyglass
  spyglass:
    enabled: true
    cooldown: 3
  # change your size when eat
  size:
    enabled: true
    small: GLOW_BERRIES
    normal: GOLDEN_CARROT
  # add dolphin's grace effect when player is in water and has turtle helmet in head
  turtle-helmet:
    enabled: true
    # 30% chance to set -1 durability when player is in water (every 2sec)
    durability: true
  # fireball like ghost when player right click with fire charge
  fireball:
    enabled: true
    cooldown: 40
    # fireball break scale, high value = more explosion
    yield: 2
  # drop player head when player die
  player-head:
    enabled: true
    # chance to drop player head, 1 = 100%
    chance: 0.2
  # activate totem of undying when player die in void, apply levitation effect
  void-totem:
    enabled: true
  # tp horse with when player sitting on it and ender pearl teleport
  horse-tp:
    enabled: true
  # mine spawners with silk touch
  mine-spawners:
    enabled: true
  # mine budding amethyst with silk touch
  mine-budding-amethyst:
    enabled: true
  #show mob hp:
  entity-hp:
    enabled: true
  # chance to drop blaze rod when blaze die on water, 50% chance - 1 rod, 10% chance - 2 rods
  blaze-water-drop:
    enabled: true
  # villagers profession cooldown, 5sec
  villager-profession-cooldown:
    enabled: false
    # cooldown time in minutes
    cooldown: 5
  # block op mechanics/items
  blocker:
    # block sh
    armadillo-brush-cooldown:
      enabled: false
      cooldown: 30
    # despawn ender perls after 20sec, this block player teleport with "freeze" ender pearl in long distances
    ender-pearl-despawn:
      enabled: false
    #block bone-meal usage
    #bypass: survivaltweaks.bonemeal.bypass
    block-bone-meal:
      enabled: false
      block-dispenser: true
    elytra:
      # Block elytra natural generate in end cities
      block-generate: false
      # Block elytra mending enchantment
      block-mending: false
    # Block items generate in loot chests
    block-loot:
      enabled: false
      items:
      - 'NETHERITE_UPGRADE_SMITHING_TEMPLATE'
  # Shift + right click to hide/unhide item frame
  invisible-item-frames:
    enabled: true
  # keep 50% items when player die
  keep-items:
    enabled: false
    # worlds where keep-items is disabled
    disabled-worlds:
      - 'example_world'
  #nerf mace damage
  mace-nerf:
    enabled: true
    #nerf mace damage by percentage, example 50 = 50% damage when hit with mace 20, deal 10 damage
    percentage: 50
    disable-world:
      - 'example_world'
  #boost happy ghost speed and hp
  happy-ghost-boost:
    enabled: true
    speed-multiplier: 1.5
    hp: 100
  #remove the anvil too expensive limit, change too expensive to mas possible level (39) in anvil
  anvil-too-expensive-fix:
    enabled: true
  # add custom dead messages
  dead-messages:
    enabled: true
  #protections from grief explosions, like tnt, end crystal, respawn anchor
  grief-protection:
    enabled: false
    block-tnt-explosion: true
    block-crystal-explosion: true
    block-anchor-explosion: true